/* Vocab starts here */
.app__visualVocabs {
  flex: 1;
  width: 100%;
  margin-top: 8%;
  flex-direction: column;
} //app__visualVocabs

//synonym items
.app__visualVocab-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; //wraps items in the container
  margin-top: 2rem;

  img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
  }
} //app__visualVocab-items

//synonym item
.app__visualVocab-item {
  width: 15rem;
  height: 16rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--gray-color);

  img{
    width: 13rem;
    height: 13rem;
  }

  svg {
    color: #ff0000;
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
  }

  &:hover {
    border: 1px solid var(--secondary-color);
  }

  //extra large devices
  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;
  } //media

  //extra small devices - mobile
  //On screens that are 360px or less
  @media screen and (max-width: 360px) {
    width: 250px;
    margin-left: -2.5rem;
  } //media
} //app__visualVocab-item

.app__visualVocab-form {
  border-radius: 5px;
  padding: 4%;
  background-color: var(--white-color);
  width: 60%;
  flex-direction: column;
  margin: 1rem 2rem;

  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--white-color);

    transition: all 0.3s ease-in-out;

    input {
      width: 100%;
      padding: 0.95rem;
      border: none;
      border-radius: 7px;
      background-color: var(--primary-color);

      font-family: var(--font-base);
      color: var(--secondary-color);
      outline: none;
    }

    &:hover {
      box-shadow: 0 0 25px var(--primary-color);
    }
  }

  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);

    font-weight: 500;
    color: var(--white-color);
    outline: none;
    margin: 2rem 0 0 0;
    font-family: var(--font-base);

    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;

    &:hover {
      background-color: #2430af;
    }
  } //button

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 1rem 0;
  }

  //On screens that are 360px or less, hide logo
  @media screen and (max-width: 360px) {
    margin-left: -2rem;
  } //media
} //app__visualVocab-form

/* Vocab ends here */
