//navbar starts here
.app__navbar{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background:rgba(255, 255, 255, 0.25);
    backdrop-filter:blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
    position:fixed;
    z-index:2;
}

//navbar-logo
.app__navbar-logo{
    display:flex;
    justify-content:flex-start;
    align-items:center;

    h3{
        width:90px;
        height:20px;

        //responsive screen
        @media screen and (min-width:2000px)
        {
            width:180px;
            height:40px;
        }
    }//img
}//app__navbar-logo

//navbar ends here

