//navbar starts here
.app__navbar{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background:rgba(255, 255, 255, 0.25);
    backdrop-filter:blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border:1px solid rgba(255, 255, 255, 0.18);
    position:fixed;
    z-index:2;
}

//navbar-logo
.app__navbar-logo{
    display:flex;
    justify-content:flex-start;
    align-items:center;

    img{

        //responsive screen
        @media screen and (min-width:2000px)
        {
            width:180px;
            height:40px;
        }
    }//img
}//app__navbar-logo

.app__navbar-links{
    flex:1;
    display:flex;
    justify-content: center;
    align-items:center;
    list-style:none;

    li{
        margin: 0 1rem;
        cursor:pointer;
        // flex-direction:column;

        a{
            color:var(--gray-color);
            text-decoration:none;
            // flex-direction: column;
            text-transform:uppercase;
            font-weight:500;
            // transition: all 0.3s ease-in-out;

            //hover for a
            &:hover {
                color: var(--secondary-color);
            }
        }//a

        &:hover{
            div{
                background-color: var(--secondary-color);
            }
        }
    }//li

    //responsive screen
    @media screen and (min-width:900px){
        // display:none;
    }
}//app__navbar-links

.app__navbar-menu{
    width:35px;
    height:35px;
    border-radius:50%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--secondary-color);
}

//navbar ends here

